<div class='menu'>
  <h3>{{this.name}}</h3>
  <div class='promo-blocks__actions'>
    <a href='/menus/{{this.id}}/menuitems' class='anchor--button'>
      View
    </a>
    <a
      href='/restaurants/{{this.RestaurantId}}/menus/{{this.id}}/edit'
      data-id='{{this.id}}'
      class='anchor--button'
    >
      Edit
    </a>
    <a class='anchor--button' href='/restaurants/{{this.RestaurantId}}/menus/{{this.id}}/delete' type='button' data-id='{{this.id}}'>
      Delete
    </a>
  </div>
</div>