do you want to delete menu?

<div class='restaurant'>
  <h3>{{menu.name}}</h3>
  <img src='{{menu.imagelink}}' alt='{{menu.name}}' />
  <div class='promo-blocks__actions'>
    <button type="button" data-id='{{menu.id}}' rest='{{restId}}' onClick= 'deleteMenu(this);'>
      Yes
    </button>   
    <a class='anchor--button' href='/restaurants/{{restId}}/menus' type='button'>
      No
    </a>
  </div>
</div>
